@{
    ViewData["Title"] = "Home Page";
}
@model ListEmployee

<a class="btn btn-primary" asp-action="Refresh" asp-controller="Home">Refresh</a>

<ul>
    @foreach (Result employee in Model.result)
    {
        <li>@employee.NAME @employee.LAST_NAME</li>
    }
</ul>

