@{
    ViewData["Title"] = "Home Page";
}
@model ListEmployee

<button>Refresh</button>
<ul>
    @foreach (Result employee in Model.result)
    {
        <li>@employee.NAME @employee.LAST_NAME</li>
    }
</ul>

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
